build/
build_release/
build_*/
out/
*.o
*.obj
*.dll
*.so
*.dylib
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.user
*.suo
.vs/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile.cmake
*.ts3_plugin
*.ts3plugin
moc_*
qrc_*
ui_*
.DS_Store
Thumbs.db
